@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-blue: #0d6efd;
  --color-dark: #2e2d2d;
  --color-orange: #f50;
  --color-dark-secondary: #4c4848;
  --color-orange-secondary: #a66646;
}

body{
    background: #e7f1f1;
}

button, a {
  cursor: pointer; 
}

