@import "tailwindcss";

:root {
  color-scheme: dark;
  --secondary-hue: 25;
  --toast-success-hue: 150;
  --toast-failure-hue: 20;
  --toast-warning-hue: 205;
  --toast-padding: 1.5em;
  --toast-margin: .5em;
  --toast-opacity: .99;
  --toast-content-gap: 1em;
  --toast-speed: 250ms;
  --toast-list-scrollbar-width: .35em;
  --toast-list-width: 300px;
  --toast-list-padding: 1em;
  --toast-bg-color-fallback: hsl(var(--secondary-hue) 15% 100%);
  --toast-text-color-fallback: hsl(var(--secondary-hue) 10% 25%);
}

@theme {
  --color-blue: #0d6efd;
  --color-dark: #2e2d2d;
  --color-orange: #f50;
  --color-dark-secondary: #4c4848;
  --color-orange-secondary: #a66646;
  --color-dark-tertiary: #E5E4E2;
}

body{
    background: #e7f1f1;
}

button, a {
  cursor: pointer; 
}

